body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main__heading {
  font-size: 42px;
}

h1 {
  text-align: center;
}

.container__flex {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 780px; */
}

.container__regions {
  width: 25%;
  /* border: 1px solid blue; */
}

.container__wines {
  width: 25%;
  /* border: 1px solid blue; */
}

.container__details {
  width: 35%;
  /* border: 1px solid blue; */
}

ul {
  padding-left: 0px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}

li:hover {
  background-color: #1AA599;
  color: white;
}

li {
  padding: 10px;
  border-top: 1px solid #E6E6E6;
  cursor: pointer;
}